<div class="container">
    <div class="jumbotron text-center bg-dark text-white">
        <div class="row mx-auto">
            <div class="col-4">
                <img class="img-fluid rounded mx-auto" src="/assets/img/burger.jpg" style="width: 15rem">
            </div>
            <div class="col-8 m-auto">
                <h1 class="font-weight-bold">ALL THE DELICIOUS BURGERS!!!</h1>
                <p>well... mostly</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div id="availBurgers" class="card mx-auto text-white bg-dark">
                <div class="card-header">
                    <h4 class="text-center">
                            Burgers Still Available To Be DEVOURED!!!!
                        </h4>
                </div>
                <ul class="list-group list-group-flush">
                    {{#each burgers}}
                        {{#unless devoured}}
                            {{> burgers/burger-block devoured=true}}
                        {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-6">
            <div id="eatenBurgers" class="card mx-auto text-white bg-dark">
                <div class="card-header">
                    <h4 class="text-center">
                                Burgers In My Belly!
                            </h4>
                </div>
                <ul class="list-group list-group-flush">
                    {{#each burgers}}
                        {{#if devoured}}
                            {{> burgers/burger-block devoured=false}}
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="card mx-auto my-5 text-white bg-dark">
            <div class="card-header">
                <h2>Add A Yummy Burger To The Menu</h2>
            </div>
            <div class="card-body">
                <form class="create-form">
                    <div class="form-group d-flex mb-0">
                        <label class="align-self-center" for="burgerName">Burger Name:</label>
                        <input class="rounded ml-1 align-self-center" type="text" id="burgerName" name="name">
                        <button type="submit" class="btn btn-warning ml-auto">Add Burger</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="footer mt-auto py-1 text-center">
    <small><a class="text-decoration-none text-muted" href="https://www.vecteezy.com/">Vectors by Vecteezy</a></small>
</footer>