<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/assets/css/burger_style.css" type="text/css" />
    <title>Get In My Belly!!!</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="/assets/js/burgers.js"></script>
</head>

<body class="d-flex flex-column h-100">
    <div class="container">
        <div class="jumbotron text-center bg-dark text-white">
            <div class="row mx-auto">
                <div class="col-4">
                    <img class="img-fluid rounded mx-auto" src="../public/assets/img/burger.jpg" style="width: 15rem">
                </div>
                <div class="col-8 m-auto">
                    <h1>All the Delicious Burgers!!!</h1>
                    <p>well... mostly</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card mx-auto text-white bg-dark">
                    <div class="card-header">
                        <h4 class="text-center">
                            Burgers Still Available to be DEVOURED!!!!
                        </h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-dark d-flex"><span class="align-self-center">Cras justo odio</span><button class="btn btn-secondary ml-auto">DEVOUR IT!</button>
                        </li>
                        <li class="list-group-item list-group-item-dark d-flex"><span class="align-self-center">Dapibus ac facilisis in</span><button class="btn btn-secondary ml-auto">DEVOUR IT!</button></li>
                        <li class="list-group-item list-group-item-dark d-flex"><span class="align-self-center">Vestibulum at eros</span><button class="btn btn-secondary ml-auto">DEVOUR IT!</button></li>
                    </ul>
                </div>
            </div>
            <div class="col-6">
                    <div class="card mx-auto text-white bg-dark">
                        <div class="card-header">
                            <h4 class="text-center">
                                Burgers In My Belly!
                            </h4>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-dark">Cras justo odio</li>
                            <li class="list-group-item list-group-item-dark">Dapibus ac facilisis in</li>
                            <li class="list-group-item list-group-item-dark">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
            <div class="card mx-auto my-5 text-white bg-dark">
                <div class="card-header">
                    <h2>Add a Yummy Burger to the Menu</h2>
                </div>
                <div class="card-body">
                    <form class="create-form">
                        <div class="form-group d-flex mb-0">
                            <label class="align-self-center" for="burgerName">Burger Name:</label>
                            <input class="rounded ml-1 align-self-center" type="text" id="burgerName" name="name">
                            <button type="submit" class="btn btn-warning ml-auto">Add Burger</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer mt-auto py-1 text-center">
        <small><a class="text-decoration-none text-muted" href="https://www.vecteezy.com/">Vectors by
                Vecteezy </a></small>
    </footer>
</body>

</html>