body {
    background-image: url("../img/pixel_art_cheeseburger_seamless_background/pixel-art-cheeseburger-seamless-background.jpg");
}

footer {
    background-color: lightgray;
}

#availBurgers button {
    color: darkred;
}

#eatenBurgers button {
    color: darkmagenta;
}